.page {
    flex: 1 1 auto;
    margin-bottom: 40px;
    
    &__photos {
        padding: 40px 0;
    }

    &__brands {
        padding-bottom: 40px;
    }

    &__advantages{
        padding: 40px 0;
    }

    &__catalog{
        padding: 40px 0;
    }
}